@use "../globals/layout";
@use "../utils/mixin" as *;

.contryDetail {
  @extend %container;
  padding: {
    top: 30px;
    bottom: 20px;
  }
}

.country {
  display: flex;
  gap: calc(35px + 2vw);
  .flagWrapper {
    width: 40%;
    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .countryInfo {
    flex: 1;
    p {
      @extend %countryData;
      & span {
        @extend %countryDataVal;
      }
    }
  }
}

.descCountry {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}